@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.tabcontent ul li {
    background-color: black;
    border: 1px solid black;
    position: relative;
    box-shadow: 0px 0px 50px #66339999;
    cursor: pointer;
}
.tabcontent ul li img {
    aspect-ratio: 240/360;
    object-fit: cover;
}

.tabcontent ul li:hover::after {
    height: 100%;
}
.tabcontent ul li .title {
    font-size: 14px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.tabcontent ul li::after {
    transition: 0.2s ease all;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 10%;
    /* background-image: linear-gradient(transparent, #66339999); */
    background: rgb(102, 51, 153);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.00043767507002800965) 0%,
        rgba(0, 0, 0, 0.8183648459383753) 77%,
        rgba(0, 0, 0, 0.896796218487395) 86%,
        rgba(0, 0, 0, 1) 100%
    );
}
.tablinks {
    border-radius: 5px;
    padding: 4px 12px;
    transition: 0.2s ease all;
}
.tablinks:hover {
    color: white;
}
.tablinks.active {
    background-color: white;
    color: #121212;
    box-shadow: 1px 1px 25px rebeccapurple;
}

main h2 {
    font-size: 24px;
}

.single .info .top-bar {
    margin-bottom: 2rem;
}
.single .info .top-bar ul {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 0.2rem;
    flex-direction: column;
    border-left: 1px solid rebeccapurple;
    padding-left: 0.5rem;
}

.single h1 {
    font-size: 34px;
    margin-bottom: 1rem;
}
.single .media {
    display: flex;
    gap: 0.2rem;
}
.single .media img {
    max-height: 315px;
}
.single .genres {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.single .genres li {
    padding: 0.2rem 0.8rem;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
}
